language: python
sudo: false
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
install:
  - pip install tox-travis
script:
  - tox
notifications:
  irc:
    - "irc.freenode.org#bsdploy"
  on_success: change
  on_failure: change
